<!DOCTYPE html>
<HTML lang="es">
  <Head>
    <meta charset="UTF-8">
    <title>Software Ibercantos</title>
  </Head>
    
  <body style="background-color: #CACACA ">
    <form method="POST" action="/orden">
      <img alt="logotipo"src="static/logo.png" width="200" /> 
        <fieldset style="width:600px; background-color:#f2f2f2">
          <legend><FONT FACE="Arial" SIZE="6"><b>Pedidos</b></FONT></legend> 
          <p><FONT  style='width:270px; height:50px; font-size: 25px;' FACE="Arial"><b>Número Pedido:</b> <input type="text" name="Npedido"  style='width:170px; height:50px; font-size: 25px;' size="40"placeholder="Introduzca número de Pedido" value="{{npedido}}" readonly ></FONT></p>
          <p><FONT  style='width:270px; height:50px; font-size: 25px;' FACE="Arial"><b>Fecha:</b> <input type="text" name="Fecha"  style='width:170px; height:50px; font-size: 25px;' size="40"value="{{fecha}}" readonly ></FONT></p>
        </fieldset>

        <fieldset style="width:600px; background-color:#f2f2f2">
          <legend><FONT FACE="Arial" SIZE="6"><b>Ordenes</b></FONT></legend> 
          <p><FONT  style='width:270px; height:50px; font-size: 25px;' FACE="Arial"><b>Número Orden:</b> <input type="text" minlength="8" maxlength="9" name="Norden"  style='width:170px; height:50px; font-size: 25px;'  size="50"placeholder="Introduzca número de Orden EJ:(1600-1)" required value="{{norden}}"></FONT></p>
          <input type="submit" style='width:200px; height:30px; font-size: 20px;' value="Enter Orden">
          <p><FONT  style='width:270px; height:50px; font-size: 25px;' FACE="Arial"><b>Estado Orden:</b> <input type="text" name="Mensaje"  style='width:240px; height:50px; font-size: 25px;'  size="40" placeholder="Nuevo/Existente" value=
            "{{msg}}"></FONT></p>
        </fieldset>
      <p></p>
      <button type="submit"  style='width:270px; height:50px; font-size: 25px;'  formaction="/sollado" >Insertar Sollado/Lote</button>
    </form>
  </body>
</html>