<!DOCTYPE html>
<html lang="es">
	<link rel="stylesheet" type="text/css" href="static/tabla.css" media="screen" />
	<head>
		<meta charset="UTF-8">
		<title>Consulta Stock</title>
	</head>

	<body style="background-color: #CACACA ">
		<form method="POST" action="/stockbobinas">
			<img alt="logotipo"src="static/logo.png" width="200" /> 
				<fieldset style="width:400px; background-color:#f2f2f2">
					<legend><FONT FACE="Arial" SIZE="4"><b>Bobinas en Stock:</b></FONT></legend>

					{%if codigobobina == None %}
					{% set codigobobina="" %}
					{% endif %}

					<p><FONT FACE="Arial"><b>Número Bobina:</b> <input type="text" name="Codigobobina"  placeholder="Introduzca número de Bobina"  value="{{codigobobina}}" ></FONT></p>
				</fieldset>
				<input type="submit" value="Consultar " >
				<button type="submit" formaction="/" >Volver a Inicio</button>  
		</form>
			
			{% for linea in lineasbob %}
				<p><b><u>Bobina:</u></b> {{linea|join('  //  ')}}</p>
			{% endfor %}
					
		<table border CELLPADDING=10 CELLSPACING=0>
			<thead>
	            <tr>
	              <th>Nº Orden</th>
	              <th>Codigo Bobina</th>
	              <th>Largo</th>
	              <th>Ancho</th>
	              <th>M2</th>
	              <th>Especie</th>
	              <th>Calidad</th>
	              <th>Ubicación</th>
	              <th>Soporte</th>
	              <th>Cola</th>
	              <th>Lijado</th>
	              <th>Natural</th>
	              <th>Calibrado</th>
	              <th>Primer</th>
	              <th>Barnizado</th>
	              <th>Alistonado</th>
	              <th>Através</th>
	            </tr>
	              {% for linea in lineas %}
	            <tr>
	              <td>{{linea[2]}}</td>
	              <td><b>{{linea[1]}}</b></td>
	              <td>{{linea[5]}}</td>
	              <td>{{linea[6]}}</td>
	              <td>{{linea[7]}}</td>
	              <td>{{linea[8]}}</td>
	              <td>{{linea[9]}}</td>
	              <td>{{linea[11]}}</td>
	              <td>{{linea[12]}}</td>
	              <td>{{linea[13]}}</td>
	              <td>{{linea[14]}}</td>
	              <td>{{linea[15]}}</td>
	              <td>{{linea[16]}}</td>
	              <td>{{linea[17]}}</td>
	              <td>{{linea[18]}}</td>
	              <td>{{linea[19]}}</td>
	              <td>{{linea[20]}}</td>
	            </tr>
	              {% endfor %}
          	</thead>
        </table>
					
	</body>
</html>